target/classes/test5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<configuration doc:name="Configuration" doc:id="d43032e9-55d3-4c86-b38b-bb6c72a97f2b" defaultErrorHandler-ref="globalErrorHandler"/>
	<flow name="getSFDCaccountsTest5" doc:id="6bbd158b-b434-4ab8-94c5-6fe63729bed2" >
		<http:listener doc:name="GET /sfdc" doc:id="3adf6139-5176-45df-a201-e88c89bb2834" config-ref="HTTP_Listener_config" path="/sfdcTest5" allowedMethods="GET">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-payload value='#["success begin mf"]' doc:name="Set Payload" doc:id="871712c9-7eec-4054-9788-03d840af9d86" />
		<ee:transform doc:name="Transform Message" doc:id="270d0c82-ede7-4562-a6d3-59b882ef881e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ABC" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-number numberType="INTEGER" doc:name="Copy_of_Is number" doc:id="d79bd816-0f90-4c35-81e7-3b096fabb7c3" value="validate - payload" message="validation message"/>
		<set-payload value='#["success end mf"]' doc:name="Set Payload" doc:id="f3b80e50-0251-4f23-8791-45520914463f" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="67197519-2e0b-48fa-843d-10d201f3acb9">
				<set-payload value='#["error-mf"]' doc:name="Set Payload" doc:id="bca53537-e348-4b16-be04-f41452063584" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<error-handler name="globalErrorHandler" doc:id="f71e2b4e-289c-425c-8639-3db47cd33cac" >
		<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3a9b08bb-b9f6-42de-ac62-48c41ef942e7" >
			<set-payload value='#["GEH"]' doc:name="Copy_of_Set Payload" doc:id="a7926db7-74b5-40b1-a657-9ea06c41cc12" />
		</on-error-continue>
	</error-handler>
</mule>
