target/classes/test4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getSFDCaccountsTest4" doc:id="6bbd158b-b434-4ab8-94c5-6fe63729bed2" >
		<http:listener doc:name="GET /sfdc" doc:id="3adf6139-5176-45df-a201-e88c89bb2834" config-ref="HTTP_Listener_config" path="/sfdcTest4" allowedMethods="GET"/>
		<flow-ref doc:name="Flow Reference" doc:id="43582c8a-d11d-451c-8c01-4decc07d4072" name="test4Flow"/>
		<set-payload value='#["success mf"]' doc:name="Set Payload" doc:id="871712c9-7eec-4054-9788-03d840af9d86" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="be5248be-1906-4517-88ad-6a86bda11a79" >
				<set-payload value='#["error-mf"]' doc:name="Set Payload" doc:id="bca53537-e348-4b16-be04-f41452063584" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="test4Flow" doc:id="16fe4d0a-4845-4797-b957-943dfbcbf343" >
		<validation:is-number doc:id="387f5d79-39a2-4668-b0e2-dacef12fadf5" value="payload" numberType="INTEGER"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4f9625a3-481e-4b76-8079-02950265d6e3" >
				<set-payload value='#["Error - pf"]' doc:name="Set Payload" doc:id="dac61ec7-9e9f-44c8-9e4f-4258118215ce" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
